/courses/nbproject/private/
/courses/courses-war/nbproject/private/
/courses/courses-ejb/nbproject/private/
/courses/courses-ejb/build/
/courses/courses-ejb/dist/
/courses/courses-war/dist/
/courses/courses-war/build/
/courses/dist/
/courses/build/
